@model BibliotecaFinal.Models.Livros

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar 🦋 </h1>
<div>
    <span>Todas as informações serão perdidas.</span>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinopseLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinopseLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaginasLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaginasLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaLivro)
        </dd>
    </dl>
    <br />
    <form asp-action="Deletar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista ⤶</a>
    </form>
</div>
