@model BibliotecaFinal.Models.Livros

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes 🦋</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinopseLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinopseLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnoLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnoLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaginasLivros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaginasLivros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.CategoriaLivro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar à lista ⤶</a>
</div>
