@model IEnumerable<BibliotecaFinal.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro Categoria 🍁֒</h1>
<span>Novas categorias são sempre bem vindas!</span>
<p>
    <a asp-action="Create">Cadastrar uma nova categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaLivro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaLivro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
