@model BibliotecaFinal.Models.Pessoa

@{
    ViewData["Title"] = "Delete";
}

<h1>Apagar 🦋 </h1>
<div>
    <span>Todas as informações serão perdidas.</span>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomePessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomePessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPFPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPFPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TELPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TELPessoa)
        </dd>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" />
        <a asp-action="Index">Voltar à lista ⤶</a>
    </form>
</div>
