@model IEnumerable<BibliotecaFinal.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro Pessoal 🍁 </h1>
<span>Seja bem-vindo(a)!</span>

<p>
    <a asp-action="Create">Criar novo cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPFPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TELPessoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPFPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TELPessoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
